<header class="mast">
  <div class="content">
    <div class="logo">
      <a href="/">
        <img src="/img/logo-black.svg" alt="Deep Thought">
      </a>
    </div>
    <ul class="nav">
      <li>
        <a href="/articles">Articles</a>
      </li>
      <li>
        <a href="/newsletter">Newsletter</a>
      </li>
      <li>
        <a href="//twitter.com/deepthoughtblog" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="/contributors">Contributors</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
    <button id="nav-menu"></button>
  </div>
</header>
<ul class="nav nav--mobile" id="mobile-nav">
  <li>
    <a href="/articles">Articles</a>
  </li>
  <li>
    <a href="/newsletter">Newsletter</a>
  </li>
  <li>
    <a href="//twitter.com/deepthoughtblog" target="_blank">Twitter</a>
  </li>
  <li>
    <a href="/contributors">Contributors</a>
  </li>
  <li>
    <a href="/about">About</a>
  </li>
</ul>
