{{ define "main" }}
<div class="frontmatter">
  <h2>Welcome!</h2>
  <p><strong>Deep Thought</strong> aims at helping you become a better software developer by bringing you distilled, time-tested ideas about the craft of writing code. We talk about topics such as design patterns, development workflows, software architecture, maintainability and technical debt.</p>

  <p>It’s been more than half a century since humans have been writing computer software. We believe the best way we can be better at this is by learning from what the smartest people in the field have already figured out – by standing on the shoulder of giants of our time.</p>

  <p>Deep Thought is a collective, non-profit initiative, driven by some passionate individuals who care deeply about their craft and giving back to the community. </p>
</div>

<h2>Recent Articles</h2>

{{ $posts := where .Pages ".Params.type" "article" }}

{{ range first 5 $posts.ByDate.Reverse }}
{{ .Render "summary" }}
{{ end }}

{{ partial "subscribe.html" . }}

{{ end }}
